body{
  background-color: rgb(43, 138, 24);
  
}


button{
  margin-right: 10px;
  width: 50px;
  height: 30px;
  font-size: medium;
  background-color: white;
  text-align: center;
  color: rgb(43, 138, 24);
  border: 2px solid white;
  border-radius: 20px; 

}

h1{
  color: white;
}
