.truck{
  padding: 10px;
  padding-top: 15px;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  margin: 15px;
  margin-top: 20px;
  border: 10px solid white;
  border-radius: 10px;
  text-align: center;
  
}  

.img-truck{
  padding: 5px;
  max-width: 220px;
  min-height: 220px;
}